<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Collection App</h1>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/home" routerLinkActive="active">
      <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/add" routerLinkActive="active">
      <mat-icon aria-hidden="false" aria-label="Add">add_box</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="spacer">
  <router-outlet></router-outlet>
</div>

<mat-toolbar>
  <span class="spacer"></span>
  <a mat-icon-button [href]="githubLink" target="_blank">
    <mat-icon>code</mat-icon>
  </a>
</mat-toolbar>
