<div class="flex flex-end">
  <button mat-button color="primary"
    aria-label="Filter clear"
    (click)="filterCategory(null)"
    *ngIf="filteredCategory">
    Clear filters
    <mat-icon>clear</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Filter" [matMenuTriggerFor]="filter">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>

<mat-menu #filter="matMenu">
  <button mat-menu-item *ngFor="let category of categories | async" (click)="filterCategory(category)">
    {{category.name}}
  </button>
</mat-menu>

<div class="flex flex-end" *ngIf="loading">
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>

<mat-card *ngIf="emptyCategory">
  <mat-card-content>
    <div class="flex">
      <div>No item for this category.</div>
      <button mat-raised-button color="primary" routerLink="/add">
        <mat-icon aria-hidden="false" aria-label="Add">add</mat-icon>
        Add an item
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let item of filteredItems | async">
  <mat-card-content>
    <div class="flex">
      <div>
        <a [href]="item.url" target="_blank">{{item.name}}</a>
      </div>
      <div>
        <span class="badge" (click)="selectCategory(item.category)">{{item.category}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>